@font-face {
    font-family: "SFPro Medium";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/SFPro/SFProDisplay-Medium.eot);
    src: url(../fonts/SFPro/SFProDisplay-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/SFPro/SFProDisplay-Medium.woff) format("woff"), url(../fonts/SFPro/SFProDisplay-Medium.ttf) format("truetype")
}

.accordion__header{
    
   color: #393939!important;
    font-size: 16px!important;
    font-family: "SFPro Medium"!important;  
}
.label_color {
    color: #393939!important;
    font-size: 16px!important;
    font-family: "SFPro Medium"!important;
}

.butn_no_active {
    opacity: 0.5;
}

.block-font {
    max-height: 200px;
    overflow-y: scroll;
}




.over {
    overflow-x: scroll!important;
    overflow-y: scroll!important;
}

.over::-webkit-scrollbar {width:0px;}
.c::-webkit-scrollbar {width:0px;}

.btn_main {
    background: #FF464E!important;
    color: #fff!important;
}

.shadow_none {
    box-shadow: none!important;
}

.border-bottom {
    box-shadow: none!important;
    border-radius: 0px!important;
    border-bottom: 1px solid #EBEBEB!important;
    border-left: none!importnat;
    border-right: none!important;
    border-top: none!important;
}

.border-top {
    box-shadow: none!important;
    border-radius: 0px!important;
    border-top: 1px solid #EBEBEB!important;
}

.plus_btn {
    background: #fff!important;
}


.active-style-button {
    background-color: #393939!important;
    background-repeat: no-repeat;
    background-position: center center;

}

.button-no-active:hover {
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center center;

}

.active-style-button svg path {
    fill: #fff!important;
}

.button-no-active {
    width: 36px;
    height: 36px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-no-active-plus {
    width: 60px;
    height: 60px;
    border-radius: 30px!important;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}

button, 
button:active, 
button:focus {
    outline: none!important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #FF464E!important;
    border-color: #FF464E!important;
}

.card[class*="border"] {
    border: none;
}

.index-0 {
    z-index: -5!important;
}

.index-1 {
    z-index: 5!important;
}

.index-2 {
    z-index: 10!important;
}